
        body {
            font-family: Arial, sans-serif;
            margin: 0;
        }

        header {
            background: #226ee8;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            box-sizing: border-box;
            color: white;
            padding: 2px 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }


        nav a {
            color: white;
            text-decoration: none;
            margin-left: 20px;
        }

        .hero {
            text-align: center;
            padding: 80px 20px;
            background: #88b4f7;
        }

        .hero h1 {
            font-size: 2.5rem;
        }

        .btn {
            display: inline-block;
            margin-top: 20px;
            padding: 12px 25px;
            background: #2037e4;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }

        .catalogo {
            text-align: center;
            padding: 80px 20px;
            background: #f4f4f4;
        }

        .producto  {
            text-align: center;
            padding: 80px 20px;
            background: #f4f4f4;
        }

        .producto2 {
            text-align: center;
            padding: 80px 20px;
            background: white;
        }

        section {
            padding: 50px 20px;
        }

        .contacto {
            text-align: center;
            padding: 80px 20px;
            background: #ffffff;
        }

        #contacto {
            text-align: center;
        }

        #contacto form {
            max-width: 500px;
            margin: auto;
        }

        #contacto input,
        #contacto textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        #contacto label {
            font-weight: bold;
        }



        footer {
            background: #2471ee;
            color: white;
            text-align: center;
            padding: 15px;
        }
    